
<div class='span3'>
  <h2>Sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <% if devise_mapping.rememberable? -%>
      <label class='checkbox'><%= f.check_box :remember_me %> Remember me</label>
    <% end -%>

    <%=button_tag(:type=>'submit',:class=>"btn btn-primary btn-large") do %>
      <i class="icon-lock icon-white"></i> Sign In
    <%end%>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
<div class="span8">
  The MSU Institutional Biosafety Committee (IBC) is responsible for review and oversight of research and teaching activities that use recombinant DNA, infectious agents, and toxins. If you are working with these materials, you must submit a protocol(s) to the IBC for approval. Please complete the appropriate sections of the forms. Your protocol will be reviewed by the IBC and you will be notified whether your protocol is approved or needs revision. Approvals are valid for 3 years. If you have questions regarding the information required, please contact Kirk Lubick.
  <br/>
  <br/>
  The IBC meets on the fourth Monday of each month. Please submit IBC protocols for review two weeks in advance of the scheduled meeting. If there are no protocols for review, the meeting will be cancelled.
  <br/>
  <br/>
  <table class="table">
    <tr>
      <th>IBC Protocol Submission Dates</th>
      <th>IBC Meeting Dates</th>
    </tr>
    <tr>
      <td>October 14, 2013	</td>
      <td>October 28, 2013</td>
    </tr>
    <tr>
      <td>November 4, 2013</td>
      <td>November 18, 2013</td>
    </tr>
    <tr>
      <td>December 2, 2013</td>
      <td>	December 16, 2013</td>
    </tr>
  </table>

  <h4>Contacts:</h4>
  <table class="table">
  <tr><td>
  Diane Harn, interim Coordinator
  <br/>
  dwharn@montana.edu
  <br/>
  994-6757
  </td><td>
  Kirk Lubick, Biosafety Officer
  <br/>
  Kirk.lubick@montana.edu
  <br/>
  994-6998
  </td><td>
  Justin Cook, Director
  <br/>
  Office of Research Compliance
  <br/>
  jcook@montana.edu
  <br/>
  994-4171
  </td></tr>
  </table>
</div>
