<%- model_class = Location -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:building) %>:</strong></dt>
  <dd><%= @location.building %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rm_no) %>:</strong></dt>
  <dd><%= @location.rm_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bsi) %>:</strong></dt>
  <dd><%= @location.bsi %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inspection_date) %>:</strong></dt>
  <dd><%= @location.inspection_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inspector) %>:</strong></dt>
  <dd><%= @location.inspector %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ten_liter) %>:</strong></dt>
  <dd><%= @location.ten_liter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:microorg) %>:</strong></dt>
  <dd><%= @location.microorg %></dd>
  <dt><strong><%= model_class.human_attribute_name(:toxin) %>:</strong></dt>
  <dd><%= @location.toxin %></dd>
  <dt><strong><%= model_class.human_attribute_name(:micro_qty) %>:</strong></dt>
  <dd><%= @location.micro_qty %></dd>
  <dt><strong><%= model_class.human_attribute_name(:toxin_qty) %>:</strong></dt>
  <dd><%= @location.toxin_qty %></dd>
  <dt><strong><%= model_class.human_attribute_name(:research_loc) %>:</strong></dt>
  <dd><%= @location.research_loc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exp_loc) %>:</strong></dt>
  <dd><%= @location.exp_loc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:store_loc) %>:</strong></dt>
  <dd><%= @location.store_loc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:protocol_id) %>:</strong></dt>
  <dd><%= @location.protocol_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:modification_id) %>:</strong></dt>
  <dd><%= @location.modification_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              location_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_location_path(@location), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              location_path(@location),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
