<h1>Listing survey_texts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @survey_texts.each do |survey_text| %>
  <tr>
    <td><%= survey_text.title %></td>
    <td><%= survey_text.body %></td>
    <td><%= link_to 'Show', survey_text %></td>
    <td><%= link_to 'Edit', edit_survey_text_path(survey_text) %></td>
    <td><%= link_to 'Destroy', survey_text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey text', new_survey_text_path %>
