<%- model_class = SurveyText -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %> Version #<%=@version.id%>, created at: <%=@version.created_at%></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @version.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:body) %>:</strong></dt>
  <dd><%= text_area_tag 'body', @version.body, :disabled=>true, :style=>"width:700px;" %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              survey_text_versions_path(@survey_text), :class => 'btn'  %>

</div>
