<div class='span12'>
  <script>
    $(document).ready(function() { 
      $.getScript('assets/javascripts/datatables.js', function() {
        $('#protocols_table').dataTable();
      })
    }

  </script>
  <%- model_class = Protocol -%>

  <h1>My <%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <p><%= link_to "View All My Protocols", protocols_path, :class=>"btn-small"%></p>
  <%= form_tag protocols_path, :method => :get do %>
    <label>Show Protocol by status</label>
    <%= select_tag 'status', "<option>submitted</option><option>review</option><option>accepted</option><option>archived</option>".html_safe %>
    <%= submit_tag 'Go' %>
  <% end %>

  <table id="protocols_table"  class="table table-striped span11">
    <thead>
      <tr>
        <th>Protocol Title</th>
        <th>Type</th>
        <th>Status</th>
        <th><%=t '.actions', :default => t("helpers.Actions") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @protocols.each do |protocol| %>  
        <tr>
          <td>
            <% if protocol.responses.where(:question_id => @title_questions).count > 0 %>
              <%= link_to protocol.responses.where(:question_id => @title_questions).first.string_value, "#{surveyor_path}/#{@surveys[protocol.survey_id.to_s]}/#{protocol.access_code}" , :target => "_blank" %>
            <%else%>
              <%= link_to "In Progess- Untitled", "#{surveyor_path}/#{@surveys[protocol.survey_id.to_s]}/#{protocol.access_code}", :target => "_blank"  %>
            <%end%>
          </td>
          <td><%=protocol.survey.title%></td>

          <td>
            <%= Status.find_by_survey_id(protocol.access_code) ? Status.find_by_survey_id(protocol.access_code).state : "none"  %>
          </td>
          <td>
            <%= link_to  'Download', "#{surveyor_path}/#{protocol.survey.access_code}/#{protocol.access_code}.pdf", :format => 'pdf', :target=>'_blank',:class => 'icon-circle-arrow-right' %>
            <% if !Status.find_by_survey_id(protocol.access_code) || Status.find_by_survey_id(protocol.access_code).state == 'review'%>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        "#{surveyor_path}/#{@surveys[protocol.survey_id.to_s]}/#{protocol.access_code}/take", :class => "icon-pencil" %>
           <% end %>
            <% if !Status.find_by_survey_id(protocol.access_code) %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                        protocol_path(protocol.access_code),
                                        :method => :delete,
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                        :class => 'icon-trash' %>
            <% else %> 
              <%= 'none' %>
            <% end %>
          </td>
          <td>
            <% if Status.find_by_survey_id(protocol.access_code) %>
              <% if Status.find_by_survey_id(protocol.access_code) &&  Status.find_by_survey_id(protocol.access_code).state == 'review'%>
                <%= form_for (Status.find_by_survey_id(protocol.access_code)), :url => status_path(Status.find_by_survey_id(protocol.access_code)), :method=> 'put'  do |f| %>
                  <%= f.hidden_field :survey_id, :value => protocol.access_code %>
                  <%= f.hidden_field :state, :value => 'submitted' %>
                  <%= f.submit "Submit" %>
                <% end %>
              <%end%>
            <% else %>
              <%= form_for(Status.new) do |f| %>
                <%= f.hidden_field :survey_id, :value => protocol.access_code %>
                <%= f.hidden_field :state, :value => 'submitted' %>
                <%= f.submit "Submit Protocol" %>
              <% end %>
             <%end%> 
          </td>  
       <!--   <td>
            <%= button_to 'Mod', protocol_make_modification_path(protocol.access_code, :survey_id=>protocol.survey_id ), method: "post" %>
          </td>   -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
