<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<div class='span12'>
  <style>
  .fixed-dialog{
    position: fixed;
    top: 50px;
    left: 50px;
  }
  </style>
  <script>
    $(document).ready(function() { 
      $( "#dialog" ).dialog({
            autoOpen: false,  modal: true, dialogClass: "fixed-dialog" });

    })

  </script>
  <%- model_class = Protocol -%>

  <h1>My <%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <p><%= link_to "View All My Current Protocols", protocols_path, :class=>"btn-small"%></p>
  <%= form_tag protocols_path, :method => :get do %>
    <label>Show Protocol by status</label>
    <%= select_tag 'status', "<option value='submitted'>Submitted</option><option value='review'n>Review</option><option value='approved'>Approved</option><option value='archived'>Archived</option>".html_safe %>
    <%= submit_tag 'Go' %>
  <% end %>

  <table id="protocols_table"  class="table table-striped span11">
    <thead>
      <tr>
        <th>Type</th>
        <th> Last Updated</th>
        <th>Status</th>
        <th>Files</th>
        <th><%=t '.actions', :default => t("helpers.Actions") %></th>
        <th></th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <% @protocols.each do |protocol| %>  
        <%if Status.find_by_survey_id(protocol.access_code).nil? || Status.find_by_survey_id(protocol.access_code).state != "archived" || params[:status] == "archived" %>
        <tr>

          <td><%=protocol.survey.title%></td>
          <td><%=protocol.updated_at.strftime("%m/%d/%Y") %></td>
          <td>
            <%= Status.find_by_survey_id(protocol.access_code) ? Status.find_by_survey_id(protocol.access_code).state.capitalize : "None"  %>
          </td>
          <td>
            <%- @files[protocol.id.to_s].each do |s|%>
              <%=link_to s.attachement.url.split('/')[-1], s.attachement.url%>
            <%-end-%>
             <%= link_to "", "#", :class=>"icon-paper-clip",:title => 'Add Attachment', :rel => 'tooltip', :onclick=>"$('#survey_file_response_set_id').val(#{protocol.id});$('#dialog').dialog('open')"%>
          </td>
          <td>
          <%= link_to "View", "#{surveyor_path}/#{@surveys[protocol.survey_id.to_s]}/#{protocol.access_code}", :target => "_blank", :class=>"icon-eye-open"  %>
            <%= link_to  'Download', "#{surveyor_path}/#{protocol.survey.access_code}/#{protocol.access_code}.pdf", :format => 'pdf', :target=>'_blank',:class => 'icon-download-alt' %>
            <% if !Status.find_by_survey_id(protocol.access_code) || Status.find_by_survey_id(protocol.access_code).state == 'review'%>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        "#{surveyor_path}/#{@surveys[protocol.survey_id.to_s]}/#{protocol.access_code}/take", :class => "icon-pencil" %>
           <% end %>
            <% if !Status.find_by_survey_id(protocol.access_code) %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                        protocol_path(protocol.access_code),
                                        :method => :delete,
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                        :class => 'icon-trash' %>

            <% end %>
          </td>
          <td>
            <% if Status.find_by_survey_id(protocol.access_code) %>
              <% if Status.find_by_survey_id(protocol.access_code) &&  Status.find_by_survey_id(protocol.access_code).state == 'review'%>
                <%= form_for (Status.find_by_survey_id(protocol.access_code)), :url => status_path(Status.find_by_survey_id(protocol.access_code)), :method=> 'put'  do |f| %>
                  <%= f.hidden_field :survey_id, :value => protocol.access_code %>
                  <%= f.hidden_field :state, :value => 'submitted' %>
                  <%= f.submit "Submit" %>
                <% end %>
              <%end%>
            <% else %>
              <%= form_for(Status.new) do |f| %>
                <%= f.hidden_field :survey_id, :value => protocol.access_code %>
                <%= f.hidden_field :state, :value => 'submitted' %>
                <%= f.submit "Submit Protocol" %>
              <% end %>
             <%end%> 
          </td>  
       <!--   <td>
            <%= button_to 'Mod', protocol_make_modification_path(protocol.access_code, :survey_id=>protocol.survey_id ), method: "post" %>
          </td>   -->
          
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div id="dialog" title="Upload Attachment">
  <%= form_for(@survey_file) do |f| %>
    <% if @survey_file.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@survey_file.errors.count, "error") %> prohibited this survey_file from being saved:</h2>

        <ul>
        <% @survey_file.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :attachement %><br />
      <%= f.file_field :attachement %>
    </div>
    <div class="field">

      <%= f.hidden_field :response_set_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>