<%= form_for @location, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :building, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :building, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rm_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rm_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bsi, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :bsi, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :inspection_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :inspection_date, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :inspector, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :inspector, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ten_liter, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :ten_liter, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :microorg, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :microorg, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :toxin, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :toxin, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :micro_qty, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :micro_qty, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :toxin_qty, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :toxin_qty, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :research_loc, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :research_loc, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exp_loc, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exp_loc, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :store_loc, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :store_loc, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :protocol_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :protocol_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :modification_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :modification_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                location_path, :class => 'btn' %>
  </div>
<% end %>
